* {
    box-sizing: border-box;
  }
.header-container{
    overflow: hidden;
    background-color: #fefbe9;
    padding: 10px;
}
/*Logo*/
.header-left{
    float: left;
    margin-left: 20px;
}
/*Logo size*/
.header-left img{
    height: 100px;
    width: auto;
}
/*tabs to other pages*/
.header-right {
    float: right;
    margin-right: 10px;
}

.nav-links a{
    display: inline-block;
    color: #183a1d;
    text-decoration: none;
    padding: 14px 18px;
    background-color:#f0a04b;
    border-radius: 20px;
    font-weight: bold;
}

.nav-links a:hover{
    background-color:#f0a04be3;
    text-decoration: underline;
}

.nav-links a:active{
    background-color: #fefbe9;
}

.content{
    width: 100%;
    height: 100%;
    margin: 10px auto;
    padding: 10px;
    background-color: #fefbe9;
    border-radius: 10px;
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content ul{
    list-style-type: none;
    text-align: center;
}

.content ol{
    list-style-type: none;
    text-align: center;
}

.table{
    margin: 0 auto;
}

.roster-table{
    margin: 0 auto;
}

.roster-table img{
    width: 40px;
}


body{
    background-color:#f0a04b;
}

.stats-form {
    max-width: 400px;
    background: #f0a04b;
    padding: 20px 22px;
    border-radius: 12px;
    margin: 20px auto;
  }

  #calcBtn {
    margin-top: 15px;
    padding: 10px 14px;
    font-size: 16px;
    font-weight: bold;
    background: #2058b8;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
  }

  #calcBtn:hover{
    background: #2058b8ea;
  }




  